.myPhoto {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: justify;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .myPhoto {
    float: none;
    display: block;
    margin: 0 auto 2rem;
    width: 60vw;
  }

  .paragraph {
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }
}

@media (min-width: 1440px) {
  .myPhoto {
    margin-left: 2.5rem;
    width: 30vw;
    float: right;
  }

  .subtitle {
    margin-bottom: 4rem;
    font-size: 2.5rem;
  }

  .paragraph {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
