.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    background-color: var(--color-bg-main);
    position: relative;
}

.container__navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-bg-main);
    gap: 8px;
    padding: 16px;
    z-index: 1;
}

.container__show {
    display: flex;
}

.container__navbar a {
    text-decoration: none;
    color: var(--color-font-secondary);
    font-weight: 700;
    display: inline-block;
    border-bottom: 1.5px solid var(--color-font-secondary);
    border-width: 60%;
    padding-bottom: 12px;
    text-align: center;
}

.container__navbar a:last-child {
    border: none;
    padding-bottom: 0;
}

@media screen and (min-width: 768px) {

    .container {
        flex-direction: column;
        gap: 1rem;
    }
    .container__navbar {
        position: inherit;
        display: flex;
        flex-direction: row;
        padding: 0;
        gap: 3rem;
    }

    .container__navbar a {
        border: none;
        padding: 0;
        font-size: 1.25rem;
    }

    .container__navbar_icon {
        display: none;
    }
}


@media screen and (min-width: 1440px) {

    .container {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    
    .container__navbar {
        position: inherit;
        display: flex;
        flex-direction: row;
        padding: 0;
        gap: 3rem;
    }

    .container__navbar a {
        border: none;
        padding: 0;
        font-size: 1.5rem;
    }

    .container__navbar_icon {
        display: none;
    }
}