.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-tertiary);
    padding: 24px;
    text-align: center;
    font-weight: 500;
    margin: 0;
  }
  
  .container__text, .container__social_text {
    color: var(--color-font-main);
    font-size: 20px;
    line-height: 40px;
    padding: 1rem 0;
  }
  
  .container__social_links {
    display: flex;
    padding: 0;
    gap: 8px;
    justify-content: space-around;
  }
  
  @media screen and (min-width: 768px) {
    .container__social {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .container {
      flex-direction: row;
      align-items: center;
      padding: 2rem 8rem;
      justify-content: space-between;
    }
  
    .container__social {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }