* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg-main: #3F4E4F;
  --color-bg-secondary: #DCD7C9;
  --color-bg-tertiary: #A27B5C;
  --color-font-main: #2C3639;
  --color-font-secondary: #DCD7C9;
  --color-button: #A27B5C;
  --font-main: 'Raleway', sans-serif;
  --font-title: 'Lora', sans-serif;

  font-family: var(--font-main);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-family: var(--font-title);
  font-weight: 700;
}