.container__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.container__text {
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: justify;
  margin-bottom: 1.5rem;
}

.container__text a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-button);
}

.container__posts {
  padding-bottom: 3.625rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.container__posts img {
  width: calc(100% - 2rem);
  margin: 1rem;
}

.container__posts button img {
  margin: 0;
}


@media (min-width: 1440px) {
  .container__title {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  
  .container__text {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
